* {
    box-sizing: border-box;
}

.grid-container {
    width: 70%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
}

.btn {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.btn button {
    border-style: none;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    background: #30a7d7;
    color: #fff;
    font-size: 1em;
}

.ScrollableSection{
    overflow-y: scroll;
    background-color: #E8E8EC;
    max-height: 170px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 4px;
    padding-left: 20px;
}

.ComponentDivType{
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    background-color: #E8E8EC;
}

.TitleSectionSecondWidget {
    width: 100%;
    height: 50px;
    background-color: #D1D1D5;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}

.TitleSectionSecondWidget select {
    width: 180px;
    height: 30px;
    margin: 20px;
    border-radius: 10px;
    font-size: 15px;
    padding-left: 10px;
    border: none;
    color: white;
    background-color: #C02B18;
}

.TitleSectionSecondWidget button {
    width: 180px;
    height: 30px;
    margin: 20px;
    border-radius: 10px;
    font-size: 15px;
    padding-left: 10px;
    border: none;
    color: white;
    background-color: #C02B18;
}

.TitleSectionSecondWidget button:hover {
    cursor: pointer;
    background-color: #d44532;
}